
Werte des AVR-NET-IO
<table>
    <tr><th>IP</th><td>{{ avr.ip }}</td></tr>
    <tr><th>Gateway</th><td>{{ avr.gw }}</td></tr>
    <tr><th>Netmask</th><td>{{ avr.mask }}</td></tr>
    <tr><th>Version</th><td>{#}{ avr.version }#}</td></tr>
    <tr><th>Port 1</th><td>{{ avr.port(1) }}</td></tr>
    <tr><th>ADC 1</th><td>{{ avr.adc(1) }}</td></tr>
    <tr><th>ADC 2</th><td>{{ avr.adc(2) }}</td></tr>
    <tr><th>ADC 3</th><td>{{ avr.adc(3) }}</td></tr>
    <tr><th>ADC 4</th><td>{{ avr.adc(4) }}</td></tr>
</table>
{#
echo "IP: ".$avr->getIp()."<br />\r\n";
echo "Gateway: ".$avr->getGw()."<br />\r\n";
echo "Netmask: ".$avr->getMask()."<br />\r\n";
var_dump($avr->getVersion());
echo "<br />";
echo "Port 1:".$avr->getPort(1)."<br />\r\n";
echo "ADC1 1:".$avr->getAdc(1)."<br />\r\n";

var_dump($avr->getData());
echo "<br />\r\n";
var_dump($avr->getStatus(AvrNetIo::STATUS_RAW));
echo "\r\n";

for ($i=1; $i<5; $i++) {
echo "ADC #$i: ".$avr->getAdc($i)."<br />\r\n";
}
Hello {{ name }}!
#}