
Werte des AVR-NET-IO
<table>
    <tr><th>IP</th><td>{{ avr.ip }}</td></tr>
    <tr><th>Gateway</th><td>{{ avr.gw }}</td></tr>
    <tr><th>Netmask</th><td>{{ avr.mask }}</td></tr>
    <tr><th>Version</th><td>{{ version }}</td></tr>
    {% for i in 1..8 %}
        <tr><th>Input {{ i }}</th><td>{{ avr.input(i) }}</td></tr>
    {% endfor %}
    {% for i in 1..8 %}
    <tr><th>Output {{ i }}</th><td>{{ avr.output(i) }}</td></tr>
    {% endfor %}
    {% for i in 1..4 %}
        <tr><th>ADC {{ i }}</th><td>{{ avr.adc(i) }}</td></tr>
    {% endfor %}
</table>
{#
echo "IP: ".$avr->getIp()."<br />\r\n";
echo "Gateway: ".$avr->getGw()."<br />\r\n";
echo "Netmask: ".$avr->getMask()."<br />\r\n";
var_dump($avr->getVersion());
echo "<br />";
echo "Port 1:".$avr->getPort(1)."<br />\r\n";
echo "Port 2:".$avr->getPort(2)."<br />\r\n";
echo "Port 3:".$avr->getPort(3)."<br />\r\n";
echo "Port 4:".$avr->getPort(4)."<br />\r\n";
echo "ADC1 1:".$avr->getAdc(1)."<br />\r\n";

var_dump($avr->getData());
echo "<br />\r\n";
var_dump($avr->getStatus(AvrNetIo::STATUS_RAW));
echo "\r\n";

for ($i=1; $i<5; $i++) {
echo "ADC #$i: ".$avr->getAdc($i)."<br />\r\n";
}
Hello {{ name }}!
#}