{% extends 'RonRaspberryPiBundle::base.html.twig' %}


{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-toggle-on fa-lg fa-fw"></i> Schalter</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6 col-sm-offset-3 col-xs-12 content">
                    {{ render_esi(controller('RonRaspberryPiBundle:Switch:showFlashMessages', {})) }}

                    {{ form_start(form) }}
                    <fieldset>
                        {% for switch in form.switches %}
                            <label class="col-sm-8 col-xs-6"
                                   style="line-height: 33px">{{ switch.vars.value.name|raw }}</label>
                            {{ form_widget(switch.submitSwitchOn, {attr:{'class': 'btn-success btn-switch
                                col-sm-4 col-xs-2' }}) }}
                            {{ form_widget(switch.submitSwitchOff, {attr:{'class': 'btn-switch' }}) }}
                            <div class="clear"></div>
                        {% endfor %}
                    </fieldset>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-lg fa-fw"></i>
                    Timer</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6 col-sm-offset-3 col-xs-12 content">
                    {{ form_start(formTimers) }}
                    {{ form_errors(formTimers) }}
                    <fieldset>
                        {% for key, timer in formTimers.timers %}

                            <label class="col-sm-8 col-xs-6"
                                   style="line-height: 33px">{{ timer.vars.value.name }}</label>
                            {% for test in timer %}
                                {{ form_widget(test, {attr:{'class': 'btn-success btn-switch
                                    col-sm-4
                                    col-xs-2' }}) }}
                            {% endfor %}
                            <div class="clear"></div>
                        {% endfor %}
                    </fieldset>
                    {{ form_rest(formTimers) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}