<html>
<div>
    Hallo,

    es ist ein neues Angebot aufgetaucht zu Ihrer <a href="{{ data.url }}">Suche</a>.
</div>


<table>
    <tr>
        <th>Titel</th>
        <th>Beschreibung</th>
        <th>Preis</th>
        <th>Ort</th>
        <th>Datum</th>
    </tr>
    {% for angebot in data.anzeigen %}
        <tr>
            <td><a href="http://kleinanzeigen.ebay.de/{{ angebot.link }}">
                    {% if angebot.imgLink != '' %}
                        <img src="{{ angebot.imgLink }}"/>
                    {% else %}
                        {{ angebot.title }}
                    {% endif %}
                </a>
            </td>
            <td>{{ angebot.description }}</td>
            <td>{{ angebot.price }}</td>
            <td>{{ angebot.location }}</td>
            <td>{{ angebot.date }}</td>
        </tr>
    {% endfor %}
</table>
</html>