{% extends 'RonConsumptionBundle::base.html.twig' %}

{% block title %}<h1>{% trans %}Verbrauchsliste{% endtrans %}</h1>{% endblock title %}
{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Datum', 'Wasser', 'Strom', 'Gas'],
                {% for consumption in data %}
                    [
                        '{{ consumption[0] }}',
                        {{ consumption[1] }},
                        {{ consumption[2] }},
                        {{ consumption[3] }},
                    ],
                {% endfor %}
            ]);

            var options = {
                title: 'Ressourcenverbrauch',
                hAxis: {title: 'Datum'},
                backgroundColor: 'none'
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

    <div data-role="content">
        <div id="chart_div" style="width: 450px; height: 250px;"></div>

        <table data-role="table" class="ui-responsive" id="consumption-table">
            <thead>
            <tr>
                <th data-priority="1">{% trans %}Id{% endtrans %}</th>
                <th data-priority="2">{% trans %}Energy{% endtrans %}</th>
                <th data-priority="3">{% trans %}Water{% endtrans %}</th>
                <th data-priority="4">{% trans %}Gas{% endtrans %}</th>
                <th data-priority="5">{% trans %}Createdate{% endtrans %}</th>
                <th data-priority="6">{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</a></td>
                    <td>{{ entity.energy }}</td>
                    <td>{{ entity.water }}</td>
                    <td>{{ entity.gas }}</td>
                    <td>{% if entity.createDate %}{{ entity.createDate|date('d.m.Y H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a data-icon="info" data-mini="true" data-role="button" href="{{ path('consumption_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                            </li>
                            <li>
                                <a data-icon="edit" data-mini="true" data-role="button" href="{{ path('consumption_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
