{% extends 'RonConsumptionBundle::base.html.twig' %}

{% block title %}<h1>{% trans %}Consumption list{% endtrans %}</h1>{% endblock title %}
{% block content %}
    <div data-role="content">
        <table data-role="table" class="ui-responsive" id="consumption-table">
            <thead>
            <tr>
                <th data-priority="1">{% trans %}Id{% endtrans %}</th>
                <th data-priority="2">{% trans %}Energy{% endtrans %}</th>
                <th data-priority="3">{% trans %}Water{% endtrans %}</th>
                <th data-priority="4">{% trans %}Gas{% endtrans %}</th>
                <th data-priority="5">{% trans %}Createdate{% endtrans %}</th>
                <th data-priority="6">{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('consumption_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.energy }}</td>
                    <td>{{ entity.water }}</td>
                    <td>{{ entity.gas }}</td>
                    <td>{% if entity.createDate %}{{ entity.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('consumption_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('consumption_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
