{% extends 'RonConsumptionBundle::base.html.twig' %}

{% block content %}
    <h1>Consumption</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Energy</th>
                <td>{{ entity.energy }}</td>
            </tr>
            <tr>
                <th>Water</th>
                <td>{{ entity.water }}</td>
            </tr>
            <tr>
                <th>Gas</th>
                <td>{{ entity.gas }}</td>
            </tr>
            <tr>
                <th>Createdate</th>
                <td>{{ entity.createDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a data-role="button" href="{{ path('consumption') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a data-role="button" href="{{ path('consumption_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('consumption_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
