{% extends ("RonRaspberryPiBundle::base.html.twig") %}

{% block title %}<h1>Informationen - Avr-Net-Io</h1>{% endblock title %}

{% block content %}
    <div class="ui-grid-a ui-responsive">
        {% if false == avr  %}
            <div class="ui-block-a"><div class="ui-body ui-body-d">{% trans %}Connection failed{% endtrans %}</div></div>
        {% else %}
            <div class="ui-block-a"><div class="ui-body ui-body-d">IP</div></div>
            <div class="ui-block-b"><div class="ui-body ui-body-d">{{ avr.ip }}</div></div>
            <div class="ui-block-a"><div class="ui-body ui-body-d">Port</div></div>
            <div class="ui-block-b"><div class="ui-body ui-body-d">{{ avr.connPort }}</div></div>
            <div class="ui-block-a"><div class="ui-body ui-body-d">Mask</div></div>
            <div class="ui-block-b"><div class="ui-body ui-body-d">{{ avr.mask }}</div></div>
            <div class="ui-block-a"><div class="ui-body ui-body-d">Gateway</div></div>
            <div class="ui-block-b"><div class="ui-body ui-body-d">{{ avr.gw }}</div></div>
            <div class="ui-block-a"><div class="ui-body ui-body-d">Firmware Version</div></div>
            <div class="ui-block-b"><div class="ui-body ui-body-d">{{ avr.version.ver }}</div></div>
            <div class="ui-block-a"><div class="ui-body ui-body-d">Controller</div></div>
            <div class="ui-block-b"><div class="ui-body ui-body-d">{{ avr.version.uc }}</div></div>
            <div class="ui-block-a"><div class="ui-body ui-body-d">NIC</div></div>
            <div class="ui-block-b"><div class="ui-body ui-body-d">{{ avr.version.nic }}</div></div>
            <div class="ui-block-a"><div class="ui-body ui-body-d">Status</div></div>
            <div class="ui-block-b"><div class="ui-body ui-body-d">{{ avr.status }}</div></div>
        {% endif %}
    </div>
    <div class="ui-grid-a ui-responsive">

    </div>
{% endblock %}
