{% extends ("RonRaspberryPiBundle::base.html.twig") %}

{% block title %}<h1>{% trans %}Analog inputs Avr-Net-Io{% endtrans %}</h1>{% endblock title %}

{% block content %}
    <style type="text/css">
        .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
            display: block !important;
            padding: 0.9em 75px 0.9em 15px !important;
        }

        div.ui-slider-switch {
            position: absolute !important;
            right: 0 !important;
            top: 0.5em;
        }

    </style>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Wetter Teltow</div>
            <div class="panel-body">
                <table class="col-xs-12 table-condensed table-striped">

                    <tbody>
                    <tr>
                        <td class="col-md-6">Temperatur</td>
                        <td>
                            {{ weather.temperature.value|number_format(1) }} °C
                        </td>
                    </tr>
                    <tr>
                        <td>Luftdruck</td>
                        <td>
                            {{ weather.pressure.value }} hPa
                        </td>
                    </tr>
                    <tr>
                        <td>Sonnenaufgang</td>
                        <td>
                            <i class="wi wi-sunrise"></i>{{ weather.sun.rise.format('H:i') }}
                        </td>
                    </tr>
                    <tr>
                        <td>Sonnenuntergang</td>
                        <td>
                            <i class="wi wi-sunset"></i>{{ weather.sun.set.format('H:i') }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">HWR Daten</div>
            <div class="panel-body">

                <table class="col-xs-12 table-condensed table-striped">
                    <tbody>

                    {% if temp != '' %}
                        <tr>
                            <td class="col-md-6">Temperatur</td>
                            <td>
                                <a href="{{ path('avr_output_temp') }}">{{ temp }} °C</a>
                            </td>
                        </tr>
                    {% endif %}
                    {% if pressure != '' %}
                        <tr>
                            <td>Luftdruck</td>
                            <td>
                                <a href="{{ path('avr_output_temp') }}">{{ pressure }} hPa</a>
                            </td>
                        </tr>
                    {% endif %}
                    {% if motion != '' %}
                        <tr>
                            <td>Bewegung</td>
                            <td>
                                <a href="{{ path('ron_raspberry_pi_pir', { 'period': 'day' }) }}">
                                    {% if motion == 1 %}Bewegung erkannt{% else %}Keine Bewegung erkannt{% endif %}</a>
                            </td>
                        </tr>
                    {% endif %}
                    {% if false == avr %}
                        {#<tr>
                            <td>Verbindung zu Avr</td>

                            <td>fehlgeschlagen</td>
                        </tr>#}
                    {% else %}
                        {% for i in 1..4 %}
                            <tr>
                                <td>Eingang {{ i }}</td>
                            </tr>
                            <tr>
                                <td>{{ avr.adc(i) }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ui-grid-a ui-responsive">

    </div>
{% endblock %}
