{% extends ("RonRaspberryPiBundle::base.html.twig") %}

{% block title %}<h1>{% trans %}Analog inputs Avr-Net-Io{% endtrans %}</h1>{% endblock title %}

{% block content %}
    <style type="text/css">
        .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
            display: block !important;
            padding: 0.9em 75px 0.9em 15px !important;
        }

        div.ui-slider-switch {
            position: absolute !important;
            right: 0 !important;
            top: 0.5em;
        }

    </style>
    <div class="ui-grid-a ui-responsive">
        {% if temp != '' %}
            <div class="ui-block-a"><div class="ui-body ui-body-d">Temperatur Serverschrank</div></div>
            <div class="ui-block-b">
                <div class="ui-body ui-body-d">
                    <a href="{{ path('avr_output_temp', { 'period': 'day' }) }}">{{ temp }} °C</a>
                </div>
            </div>
        {% endif %}
        {% if motion != '' %}
            <div class="ui-block-a"><div class="ui-body ui-body-d">Bewegung im HWR</div></div>
            <div class="ui-block-b">
                <div class="ui-body ui-body-d">
                    <a href="{{ path('ron_raspberry_pi_pir', { 'period': 'day' }) }}">
                        {% if motion == 1 %}Bewegung erkannt{% else %}Keine Bewegung erkannt{% endif %}</a>
                </div>
            </div>
        {% endif %}
        {% if false == avr  %}
            <div class="ui-block-a"><div class="ui-body ui-body-d">Verbindung zu Avr</div></div>
            <div class="ui-block-b"><div class="ui-body ui-body-d">fehlgeschlagen</div></div>
        {% else %}
            {% for i in 1..4 %}
                <div class="ui-block-a"><div class="ui-body ui-body-d">Eingang {{ i }}</div></div>
                <div class="ui-block-b"><div class="ui-body ui-body-d">{{ avr.adc(i) }}</div></div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="ui-grid-a ui-responsive">

    </div>
{% endblock %}
