{% extends ("RonRaspberryPiBundle::base.html.twig") %}

{% block title %}<h1>Bewegung ({{ period_title }})</h1>{% endblock title %}

{% block content %}
    <style type="text/css">
        .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
            display: block !important;
            padding: 0.9em 75px 0.9em 15px !important;
        }

        div.ui-slider-switch {
            position: absolute !important;
            right: 0 !important;
            top: 0.5em;
        }
        .graph-temperature {
	        width:90%;
            height: 60%;
        }

    </style>

    <div style="text-align: center;">
        <img class="graph-temperature" src="{{ path('ron_raspberry_pi_pir_image', {'period': period}) }}" alt="{{ period_title }}" />
    </div>
{% endblock %}

{% block footer %}
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            {{ knp_menu_render('RonRaspberryPiBundle:Builder:menuPirFooter', { 'style': 'navbar' }) }}
        </div>
    </div>

    {{ parent() }}
{% endblock footer %}
